{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Liste des prochaines conférences</h2>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{path('app_conference_details',{id: conference.id})}}">Plus d'infos</a>
        </p>
    {% endfor %}
</div>
{% endblock %}
